<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      	  <!--JDBC connection pool settings-->
        <property name="connection.pool_size">10</property>
        
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">Suraj123@</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employeeandproject</property>
        <property name="hibernate.connection.username">root</property>
                
        <property name="hbm2ddl.auto">update</property>
        
        <!--All the executed sql scripts will be visible in console-->
        <property name="show_sql">true</property>
        
          <!-- set the current session context -->
        <property name="current_session_context_class">thread</property>
        
        
    </session-factory>
</hibernate-configuration>
